@mixin key-code-primary {
  position: static;
  font-size: 1em;
}

@mixin key-code-secondary {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  font-size: 0.85em;
}

.key-item {
  position: relative;
  width: 60px;
  height: 60px;
  min-width: max-content;
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;

  color: #fff;
  background-color: $color-primary;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba($color-primary, 0.8);
  }

  div {
    pointer-events: none;
    transition: transform 0.2s ease;
  }

  .key-code__secondary {
    @include key-code-secondary();
  }

  .key-code__primary {
    @include key-code-primary();
  }

  &.active {
    border-radius: 10px;
    background-color: $color-secondary;
  }

  &.highlight::after {
    position: absolute;
    top: 8px;
    right: 8px;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-secondary;
  }

  &.key-item__letter {
    .key-code__secondary {
      opacity: 0;
    }
  }
}

.keyboard.shift {
  .key-item {
    .key-code__secondary {
      color: $color-secondary;
    }
  }

  .key-item__letter {
    .key-code__secondary {
      @include key-code-primary();
      opacity: 1;
      color: #fff;
    }

    .key-code__primary {
      display: none;
    }
  }

  & .key-item:not(.key-item__letter) {
    &:not(.key-item__function) {
      .key-code__secondary {
        transform: translate(5px, 5px) scale(1.2);
      }
      .key-code__primary {
        transform: translate(10px, 10px) scale(0.7);
      }
    }
  }
}
