.key-item {
  width: 60px;
  height: 60px;
  min-width: max-content;
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;

  color: #fff;
  background-color: #555;

  &:hover {
    background-color: #666;
  }

  &:active {
    background-color: #777;
  }

  .key-code__secondary {
    flex-basis: 13px;
    align-self: baseline;
    font-size: 0.75rem;
  }

  .key-code__primary {
    flex-grow: 1;
    text-align: center;
  }
}
